body{
	background: grey;
	font-size: 16px;
	text-align: center;
}
canvas{
	float: center;
	margin:15px 100px 0 35px;
}
h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: lighter;
}
#dadoSorteo{
	background:url(imagenes/icon.png);
	height: 150px;
	width: 150px;
}
#jugarDeNuevo{
	font-size: 1.5em;
	margin: 2em 0 0 0 ;
}
#marcador{
	background: gold;
	float: right;
	height: 240px;
	margin: 1em;
	padding: 15px 15px 20px 0;
	width: 300px;
}
#marcador input{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bolder;
	height: 50px;
	margin:0 0 1em 0;
	text-align: center;
	width: 50px;
}
#marcador p{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}
#marcadorRojo{
	background: #ff0000;
}
#marcadorAmarillo{
	background: #FF0;
}

#contenedor{
	float: right;
	height: 650px;
	width: 300px;
	margin: 0 0 0 30px;
	position: relative;
}
#final h2{
	color: #35e431;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.5em;
}

#normas{
	background: gold;
	float: right;
	height: 450px;
	margin: 1em;
	padding: 15px 30px 20px 0;
	width: 300px;
}
#normas p{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}
#normas ol{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}

#sorteo{
}
.dado{
	height: 150px;
	margin: 0 auto;
	width: 150px;
}
.oculto{
	display: none;
}
.panel{
	/*background: pink;*/
	clear: both;
	float: right;
	height: 500px;
	margin: 1em 0 0 0;
	width: 300px;
}
.visible{
	display: inline;
}

@media screen and (max-width: 1030px){
	h3{
		margin: 0;
		padding: 10px 10px 15px 0;
		font-size: 1.7em;
	}
	#panelContenedor{
		/*background: lime;*/
		position: relative;
		width: 650px;
		height: 300px;
	}
	#marcador{
		/*background: gold;*/
		height: 300px;
		position: absolute;
		right: 0;
		padding: 0;
	}
	.panel{
		/*background: pink;*/
		height: 300px;
		position: absolute;
		padding: 0;
		margin: 0;
		left: 0;
		width: 350px;
	}
}